<li>
	{{sandwich_name}}

	<button class="change-devour" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}That was delicious order another!{{/if}}
	</button>

	{{!-- <button class="delete-sandwich" data-id="{{this.id}}">DELETE!</button> --}}
</li>
